<% content_for :title do %> | <%= @page.title %> <% end %>
<div class="blog-page-content">
	<%= render 'posts/add_post' %>
	<% @posts.each do |post| %>
		<%= render 'posts/blog_page_post', post: post %>
	<% end %>
	<%= render 'pages/page_actions' %>
	<%= paginate_posts %>
</div>

<%= render 'shared/image_modal' %>