<div id="home">
	<div class="row-fluid" style="padding-bottom:0px;">
		<div class="span6">
			<div class="home-box">
				<p style="text-align:center;"><%= image_tag 'http://placehold.it/600x400', class: 'home-image' %></p>
				<p style="text-align:center;"><%= image_tag 'http://placehold.it/600x400', class: 'home-image' %></p>
			</div>
		</div>
		<div class="span6">
			<div class="home-box">
				<p style="text-align:center;"><%= image_tag 'http://placehold.it/600x400', class: 'home-image' %></p>
				<p style="text-align:center;"><%= image_tag 'http://placehold.it/600x400', class: 'home-image' %></p>
			</div>
		</div>
	</div>
</div>
<%= render 'pages/page_actions' %>