<%= '</div>'.html_safe if (index%2) == 0 && index != 0 %>
<%= '<div class="row-fluid">'.html_safe if index%2 == 0 %>
	<div class="span6">
		<div class="gallery-box">
			<%= image_tag 'http://placehold.it/250x350', class: 'gallery_image' %>
			<%= render 'posts/post_fields', post: post %>
		</div>
	</div>
<%= '</div>'.html_safe if @posts.last.eql? post %>
<% '<div class="row-fluid">'.html_safe if (index%2) == 0 || @posts.last == post %>