<%= '</div>'.html_safe if (index%2) == 0 && index != 0 %>
<%= '<div class="row-fluid">'.html_safe if index%2 == 0 %>
	<div class="span6">
    <%= content_tag :div, class: 'gallery-box' do %>
      <%= render_editable_content :div, raw(post.image_holder), { id: 'post_image_holder' }, 'full' %>
			<%= render 'posts/post_fields', post: post %>

      <%= content_tag :div, style: not_editing? ? "display: none;" : "" do %>
        <h3>Gallery images</h3>
        <%= render_editable_content :div, raw(post.gallery), { id: 'post_gallery' }, 'full' %>
      <% end %>
		<% end %>
	</div>
<%= '</div>'.html_safe if @posts.last.eql? post %>
<% '<div class="row-fluid">'.html_safe if (index%2) == 0 || @posts.last == post %>
