<%= '</div>'.html_safe if (index%2) == 0 && index != 0 %>
<%= '<div class="row-fluid">'.html_safe if index%2 == 0 %>
  <div class="span6">
    <div class="home-box">
      <p style="text-align:center">
        <%= render 'posts/post_image_field', post: post %>
        <%= render 'posts/post_fields', post: post %>
      </p>
    </div>
  </div>
<%= '</div>'.html_safe if @posts.last.eql? post %>
<% '<div class="row-fluid">'.html_safe if (index%2) == 0 || @posts.last == post %>
