<div class="row-fluid static-post <%= new_post ? 'new-post hidden' : '' %>">
	<div class="span6">
	  <%= render_editable_content(:h1, post.title, { id: 'post_title' }, 'simple') %>
	  <% post_content = post.content.nil? ? '' : post.content %>
		<%= render_editable_content(:div, post_content.html_safe, { id: 'post_content' }, 'full') %>
		<% if authenticated? && not_editing? %>
			<div class="post-action-buttons">
				<% if new_post %>
					<%= link_to 'New post', '/editor' + request.path %>
				<% else %>
				 	<%= link_to 'Edit post', "/editor#{request.path}?editing_post_id=#{post.id}", class: 'btn btn-edit' if not_editing? %>
				 	<%= link_to 'Destroy', post_path(post), confirm: 'Are you sure?', method: :delete, remote: true, class: 'btn btn-danger post-delete-link' %>
				<% end %>
			</div>
		<% end %>
		<%= render_editable_content(:span, post.id, { id: 'post_id', style: 'display:none' }, 'simple') %>
		<%= render_editable_content(:span, @page.id, { id: 'page_id', style: 'display:none' }, 'simple') %>
	</div>
	<div class="span6">
		<%= render_editable_content(:img, '', { src: 'http://placehold.it/300x200', id: 'post_image' , class: 'static-page-image' }, 'image') %>
 		<!-- <%#= post.image %> -->
	</div>
</div>